{% extends 'base.html.twig' %} {% block title %}Evénement - Modifications{%
endblock %} {% block body %}

<main class="pt-5">
    <section id="event-page" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center m-5">Modification de l'événement</h1>

            <div class="mx-auto">
                {{
                    include("event/_form.html.twig", {
                        button_label: "Modifier"
                    })
                }}
            </div>

            <div class="m-5">{% include 'partials/_flash.html.twig' %}</div>

            <div class="text-center m-5">
                <a
                    class="btn"
                    href="{{
                        path('app_event_show', {
                            id: event.id
                        })
                    }}"
                    >Revenir à l'événement</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
