{% extends 'base.html.twig' %} {% block title %}Espace utilisateur -
Evénements{% endblock %} {% block body %}

<main class="pt-5">
    <section id="event-page" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center m-5">Gestion des événements</h1>

            <div class="text-center m-5">
                <a class="btn" href="{{ path('app_event_new') }}"
                    >Ajouter un événement</a
                >
            </div>

            <div class="m-5">{% include 'partials/_flash.html.twig' %}</div>

            <!-- Filtre -->
            <div class="filter card p-4 shadow-sm mb-4">
                <h5 class="text-center mb-4">Rechercher un événement</h5>
                <form id="event-search-form">
                    <div class="row g-3 mb-3 d-flex justify-content-around">
                        <div class="col-md-5">
                            <label class="form-label" for="event-id"
                                >Identifiant</label
                            >
                            <input
                                class="form-control"
                                type="number"
                                name="eventId"
                                id="event-id"
                                min="1"
                                step="1"
                            />
                        </div>
                        <div class="col-md-5">
                            <label class="form-label" for="date">Date</label>
                            <input
                                class="form-control"
                                type="date"
                                name="date"
                                id="date"
                            />
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-lg">
                            Rechercher
                        </button>
                    </div>
                </form>
            </div>

            <!-- Résultats -->
            <div id="events-list" class="m-5"></div>
        </div>
    </section>
</main>
{% endblock %}
