{% extends 'base.html.twig' %} {% block title %}Espace utilisateur - Création
événement{% endblock %} {% block body %}

<main class="pt-5">
    <section id="event-page" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center m-5">Création d'un événement</h1>

            <div class="mx-auto">
                {{ include("event/_form.html.twig") }}
            </div>

            <div class="m-5">{% include 'partials/_flash.html.twig' %}</div>

            <div class="text-center m-5">
                <a class="btn" href="{{ path('app_event_page') }}"
                    >Revenir aux événements</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
