{% extends 'base.html.twig' %}
{% block title %}Espace utilisateur - Création
	événement
{% endblock %}
{% block body %}

	<main class="pt-5">
		<section class="container-fluid py-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<h1 class="text-center m-5">Ajout d'un événement</h1>

						<div class="card bg-light-pink text-brown  shadow-sm d-flex justify-content-evenly p-4">
							{{ include("event/_form.html.twig") }}
						</div>

						<div class="m-5">
							{% include 'partials/_flash.html.twig' %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
