{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<main class="pt-5">
		<section id="login" class="container-fluid py-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<div class="card bg-light-pink shadow-sm d-flex justify-content-evenly p-4">
							<p>
								Si un compte est attaché à votre adresse email, vous recevrez un email contenant un lien pour réinitialiser votre mot de passe. 
								              Ce lien expirera dans
								{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
							</p>
							<p>Si vous n'avez pas reçu d'email, merci de vérifier vos courrier indésirables ou
								<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
