<form method="post" action="{{ path('app_animal_delete', { id: animal.id }) }}" onsubmit="return confirm('Souhaitez vous confirmer la suppression?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}"/>
	<button class="btn w-100">Supprimer</button>
</form>
