{% extends 'base.html.twig' %} {% block title %}Animal - Modification{% endblock
%} {% block body %}
<main class="pt-5">
    <section id="animal-page" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center mb-4">Modification de l'animal</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    {{
                        include("animal/_form.html.twig", {
                            button_label: "Modifier"
                        })
                    }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <a
                    class="btn"
                    href="{{
                        path('app_animal_show', {
                            id: animal.id
                        })
                    }}"
                    >Revenir à l'animal</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
