{% extends 'base.html.twig' %} {% block title %}Espace utilisateur - Création
animal{% endblock %} {% block body %}

<main class="pt-5">
    <section class="container-fluid py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h1 class="text-center m-5">Création d'un animal</h1>

                    <div
                        class="card bg-pink shadow-sm d-flex justify-content-evenly p-4"
                    >
                        {{ include("animal/_form.html.twig") }}
                    </div>

                    <div class="m-5">
                        {% include 'partials/_flash.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="text-center m-5">
                <a class="btn" href="{{ path('app_animal_page') }}"
                    >Revenir aux animaux</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
