@charset "UTF-8";
.bg-light-pink {
  background-color: #f2b8a2;
  color: #54352a;
}

.bg-pink {
  background-color: #f2937e;
  color: #54352a;
}

.bg-light {
  background-color: #f2eadf;
  color: #54352a;
}

.text-brown {
  color: #54352a;
}

.border-brown {
  border: 1px solid #54352a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #f2eadf;
  color: #54352a;
}

header,
footer {
  flex-shrink: 0; /* Empêche le header/footer de rétrécir */
}

a {
  color: #54352a;
}

main {
  flex-grow: 1; /* prend tout l'espace disponible */
}

h1,
h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.navbar {
  min-height: 60px;
  background-color: #f2937e;
  color: #54352a;
}
.navbar .navbar-brand .logo {
  height: 40px;
  width: auto;
  max-width: 100%;
}
@media (max-width: 992px) {
  .navbar .navbar {
    min-height: 55px;
  }
  .navbar .navbar-brand .logo {
    height: 32px;
  }
}

footer {
  min-height: 310px;
  background-color: #f2937e;
  color: #54352a;
}
footer a {
  color: #54352a;
  text-decoration: none;
}
footer i {
  color: #54352a;
}
@media (min-width: 768px) {
  footer {
    min-height: 190px;
  }
}

.btn {
  background-color: #d6d9bf;
  border: #54352a solid 0.5px;
  color: #54352a;
}

.btn:hover {
  background-color: #536102;
  color: #d6d9bf;
}

.filter {
  background-color: #f2b8a2;
}

thead {
  background-color: #f2937e;
  color: #54352a;
}

#carousel-to-adopt .carousel-item,
#carousel-adopted .carousel-item {
  height: 470px;
}

#carousel-to-adopt .carousel-item img,
#carousel-adopted .carousel-item img,
#carousel-event .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.carousel-caption {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: rgba(242, 147, 126, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#carousel-event .carousel-item img {
  height: 400px;
}

#carousel-event .card-body {
  min-height: 300px;
}

@media (min-width: 768px) {
  #carousel-to-adopt .carousel-item,
  #carousel-adopted .carousel-item {
    height: 620px;
  }
}
@media (min-width: 992px) {
  #carousel-to-adopt .carousel-item,
  #carousel-adopted .carousel-item {
    height: 750px;
  }
}
.card-img-top {
  height: 300px; /* hauteur uniforme */
  width: 100%;
  object-fit: cover; /* pas de déformation */
  object-position: center top; /* parfait pour portraits */
}

#home,
#address {
  background-color: #f2b8a2;
}

.imgHero {
  width: 300px;
}

.imgHero img {
  width: 100%;
}

.image-wrapper {
  max-width: 280px;
}

@media (min-width: 576px) {
  .image-wrapper {
    max-width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
