@use "../utils/colors";

.btn {
    background-color: colors.$green;
    border: colors.$brown solid 0.5px;
    color: colors.$brown;
}

.btn:hover {
    background-color: colors.$darkgreen;
    color: colors.$green;
}
