#carousel-event {
    max-width: 500px;
    margin: 0 auto;
}

#carousel-to-adopt .carousel-inner,
#carousel-adopted .carousel-inner,
#carousel-event .carousel-inner {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
}

#carousel-to-adopt .carousel-item img,
#carousel-adopted .carousel-item img,
#carousel-event .carousel-item img {
    height: 500px;
    width: 100%;
    object-position: center;
}

#carousel-event .carousel-item img {
    height: 250px;
}

@media (min-width: 768px) {
    #carousel-to-adopt .carousel-inner,
    #carousel-adopted .carousel-inner {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    #carousel-to-adopt .carousel-item img,
    #carousel-adopted .carousel-item img {
        height: 750px;
    }

    #carousel-event .carousel-item img {
        height: 400px;
    }
}
