#carousel-event {
    max-width: 500px;
    margin: 0 auto;
}

#carousel-to-adopt .carousel-item {
    height: 470px;
}

#carousel-to-adopt .carousel-item img,
#carousel-adopted .carousel-item img,
#carousel-event .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#carousel-event .carousel-item {
    height: 100%;
}

#carousel-event .carousel-item .card {
    height: 100%;
}

#carousel-event .carousel-item img {
    height: 400px;
}

#carousel-event .card-body {
    min-height: 260px; /* même hauteur partout */
}

@media (min-width: 768px) {
    #carousel-to-adopt .carousel-item,
    #carousel-adopted .carousel-item {
        height: 620px;
    }
}

@media (min-width: 992px) {
    #carousel-to-adopt .carousel-item,
    #carousel-adopted .carousel-item {
        height: 750px;
    }
}
