$pink: #f2937e;
$lightPink: #f2b8a2;
$darkgreen: #536102;
$green: #d6d9bf;
$brown: #54352a;
$white: #f2eadf;

$border-brown: 1px solid $brown;

.bg-light-pink {
    background-color: $lightPink;
    color: $brown;
}

.bg-pink {
    background-color: $pink;
    color: $brown;
}

.bg-light {
    background-color: $white;
    color: $brown;
}

.text-brown {
    color: $brown;
}

.border-brown {
    border: $border-brown;
}
