// Familles de polices
$font-primary: "Quicksand", sans-serif;
$font-secondary: "Roboto", "Open Sans", sans-serif;

// Tailles de police
$font-size-base: 16px; // à modifier
$font-size-lg: 20px; // à modifier
$font-size-sm: 12px; // à modifier

// Poids de police
$font-weight-normal: 400; // à modifier
$font-weight-bold: 700; // à modifier
