{% extends 'base.html.twig' %} {% block title %}Modification{% endblock %} {%
block body %}
<main class="pt-5">
    <section id="admin-account" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center mb-5">Modification des informations</h1>

            <div class="mx-auto form-edit">
                {{
                    include("user/_form.html.twig", {
                        button_label: "Modifier"
                    })
                }}
            </div>
        </div>
    </section>
</main>
{% endblock %}
