{% extends 'base.html.twig' %} {% block title %}Espace utilisateur{% endblock %}
{% block body %}
<main class="pt-5">
    <section id="user-account" class="container-fluid py-5">
        <div class="container">
            <h1>Compte ok</h1>
        </div>
    </section>
</main>
{% endblock %}
