{% extends 'base.html.twig' %} {% block title %}New User{% endblock %} {% block
body %}
<main class="pt-5">
    <section id="adoption" class="container-fluid py-5">
        <div class="container mx-auto">
            <h1 class="text-center mb-4">Création d'un utilisateur</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    {{ include("user/_form.html.twig") }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <a class="btn" href="{{ path('app_user_index') }}"
                    >Revenir à la liste</a
                >
            </div>
        </div>
    </section>
</main>
{% endblock %}
